page-signin {
  .inline-item:first-child {
    border-right: 1px solid #ccc !important;
    margin-right: 2px;
  }

  .btn-next {
    float: right;
    color: rgba(238, 238, 238, 0.83);
    border-color: white;
  }



  ion-row strong {
    color: rgba(238, 238, 238, 0.83);
  }

}
