page-signin {

  .bg-body {
    position: absolute;

    height: 110%;
    width: 110%;
    left: -10px;
    top: -10px;

    z-index: -2;
    background-color: rgba(44, 47, 78, 0.83);

    background-image: url("../../assets/imgs/logo_default.png");
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-filter: blur(10px);
    /*-moz-filter: blur(42px);
    -o-filter: blur(42px);
    -ms-filter: blur(42px);
    filter: blur(42px);*/

  }

  .bg-body-up{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: rgba(0, 0, 0, 0.58);
  }
  .row-logo {
    padding: 4px;
    text-align: center;
  }
  .row-logo img {
    margin-top: 30px;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    /*background: rgba(0, 0, 0, 0.17);*/

  }

  ion-row ion-item:first-child {
    border-right: 1px solid #ccc !important;
    margin-right: 2px;
  }

  .btn-next {
    float: right;
    color: rgba(238, 238, 238, 0.83);
    border-color: white;
  }

  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  ion-row strong{
    color: rgba(238, 238, 238, 0.83);
  }

}
