page-home {
  .title-app {
    div {
      display: inline-block;
      img {
        display: inline-block;
        vertical-align: middle;
      }
      div {
        vertical-align: middle;
      }
    }
  }

  ion-buttons {
    button {

    }
  }
}
