footer-bar {
  .footer-body{
    background: rgba(99, 127, 255, 0.31);
    padding: 6px;
    color: rgb(213, 213, 220);
    font-family: 'AvenirNextLTPro-Medium', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 12px;
  }
}
